@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  min-width: 350px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main > section {
  min-height: 600px;
  margin-bottom: 80px;
  border-bottom: 2px solid red;
}

@layer base {
  main {
    @apply mt-[-80px] min-h-screen;
  }
}

.text-outlined-transparent {
  color: white;
  color: transparent;
  letter-spacing: 0px;

  -webkit-text-stroke: 2px white;
}
